img{
    margin: 10px;
    float: left;

}
#container{
    align-items: center;
    display: flex;
}
#container img{
margin-right: 20px;
}
body{
    margin: 0;
    padding: 0;
    text-align: center; 
    background-image: url(letöltés.jpg); 
}
